/* STYLES HOME PAGE */
.home {
    background-color: #f7f7f7;
}

/* STYLES REGISTER PAGE */
.register {
    background-color: #f7f7f7;
}

/* STYLES LOGIN PAGE */
.login {
    background-color: #f7f7f7;
}

/* STYLES FAQ PAGE */
.faq {
    background-color: #f7f7f7;
} 

/* STYLES USER PROFILE PAGE */
.profile {
    background-color: #f7f7f7;
} 
/* FORM STYLE FOR REVIEW PAGE*/
.reviewLayout{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border-style: ridge;
    
}

/*ADMIN PAGE, FORM STYLES*/
.formAddcar{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border-style: ridge;
}
.formDeletecar{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border-style: ridge;
}
.formEmployee{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border-style: ridge;
}

/* EMPLOYEE PAGE STYLE*/
.empForm{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border-style: ridge;
}
/* STYLES ALL PAGES */
H1 {
    background-color: #2ca2f5;
    color: #ffffff;
    margin: 0px;
    padding: 20px;
    width: 100%;
    height: 5%;
}
.menuBar {
    background-color: #2ca2f5;
    text-align: center;
    margin-top: -10px;
    padding-left: 35px;
    padding-bottom: 10px;
    width: 100%;

}


